!!!5
%html
  %head
    %meta{charset: "utf-8"}
    %title OHO | Somos Dealers de Streetwear Nacional
    %meta{name: "description", content:"Somos Dealers de Streetwear Nacional"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"}
    %link{rel:"stylesheet", href:"css/main.css"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p {class:"browserupgrade"} Actualiza tu navegador
    ="<!--[endif]-->"
    .video-container
      %video{autoplay:true, loop:true}
        %source{type:"video/mp4",src:"./videos/mp4/background.mp4"}
        %source{type:"video/webm",src:"./videos/webm/background.webm"}
      
    